{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Register a new user</h1p>
{%endblock page_header%}

{% block content %}

    <!--<form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button name="submit">register</button>
        <input type="hidden" name="next"
          value="{% url 'learning_logs:index' %}" />
    </form>-->

    <form method="post" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Register</button>
        {% endbuttons %}
        <input type="hidden" name="next"
          value="{% url 'learning_logs:index' %}" />
    </form>


{% endblock content %}