{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}


{% block page_header %}

<h3><a href="{% url 'learning_logs:topic' topic.id%}">{{topic}}</a></h3>
<h1>Edit entry</h1>

{% endblock page_header %}

{% block content %}

<!--<form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">save changes</button>
</form>-->

    <form method="post" action="{% url 'learning_logs:edit_entry' entry.id %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Save changes</button>
        {% endbuttons %}
        <input type="hidden" name="next"
          value="{% url 'learning_logs:topic' topic.id %}" />
    </form>



{% endblock content %}