{% extends "learning_logs/base.html" %}

{% block page_header %}

    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-3">Track your learning, {{ user.username }}.</h1>
        {% else %}
            <h1 class="display-3">Track your learning.</h1>
        {% endif %}

        <p class="lead">Make your own learning log and keep a list of the topics
        you are learning about.</p>
        
        {% if user.is_authenticated == False %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
                role="button">Register &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}"
                role="button">Go to my topics &raquo;</a>
        {% endif %}

    </div>

{% endblock page_header %}
