{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}


{% block page_header %}

<h3><a href="{% url 'learning_logs:topic' topic.id%}">{{topic}}</a></h3>
<h1>Add a new entry</h1>

{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'learning_logs:new_entry' topic.id%}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Add entry</button>
        {% endbuttons %}
        <input type="hidden" name="next"
          value="{% url 'learning_logs:topic' topic.id %}" />
    </form>

{% endblock content %}