{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Add a new topic</h1p>
{%endblock page_header%}

{% block content %}

    <form method="post" action="{% url 'learning_logs:new_topic' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Add topic</button>
        {% endbuttons %}
        <input type="hidden" name="next"
          value="{% url 'learning_logs:topics' %}" />
    </form>

{% endblock %}